__pycache__
generated_files/generated_*
CMakeFiles/*
*/CMakeFiles/*
CMakeCache*
*/CMakeCache*
MakeFile
*/MakeFile
*.cmake
*/*.cmake
*.make
*/*.make
*.o
*/*.o
*.includecache
*.internal
link.txt
*.marks
tests/*.test